<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookLibrary</title>
    <link rel="stylesheet" href="/styles/homepage.css">
</head>
<body>
    <nav>
        <h3>BookLibrary</h3>
        <ul>
            <li><p>User: <%= username %></p></li>
            <li>
                <form action="/" method="get">
                    <button class="logoutbtn" type="submit">Logout</button>
                </form>
            </li>
        </ul>  
    </nav>
    <div class="body-container">
    <div class="container">
        <form class="addbook" action="/addpage" method="get">
            <button class="addbtn" type="submit">Add book</button>
        </form>
        <ul class="ulbooks">
            <% books.forEach(function(book){ %>
                <li class="listofbooks">
                    <h2 class="title">Title: <%= book.name %></h2>
                    <p class="description"> Description: <%= book.description %></p>
                    <p class="author">Author: <%= book.author %></p>
                    <div class="button-container">
                        <form action="/edit" method="post">
                            <button class="editbtn" type="submit" name="edit" value="<%= book.id %>"><img src="icons/edit.png" alt=""></button>
                        </form>
                        <form action="/delete" method="post">
                            <button class="deletebtn" name="delete" type="submit" value="<%= book.id %>"><img src="icons/delete.png" alt=""></button>
                        </form>   
                    </div>
                </li>
            <%})  %>
        </ul>
    </div>
</div>
</body>
</html>